<div class="animated fadeInDown " >

  <div class="col-md-8">
    <div class="clearfix no-padding">
      <div class="panel panel-default">
        <div class="panel-heading">Map View</div>
        <div class="panel-body no-padding">
            <app-location></app-location>
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>
  </div>

  <div class="col-md-4 clearfix no-padding">
    <div class="panel panel-default">
      <div class="panel-heading">Active Schedules</div>
      <div class="panel-body">
        <div>
          <div class="col-md-3 text-center b-r">
            <div>
              <h2>12</h2>
              <h4>Active</h4>
            </div>
          </div>

          <div class="col-md-3  text-center b-r">
            <div>
              <h2>12</h2>
              <h4>Active</h4>
            </div>
          </div>

          <div class="col-md-3 text-center b-r">
            <div>
              <h2>12</h2>
              <h4>Active</h4>
            </div>
          </div>

          <div class="col-md-3 text-center">
            <div>
              <h2>12</h2>
              <h4>Active</h4>
            </div>
          </div>
        </div>

      </div>
      <div class="panel-footer"></div>
    </div>
    <!--<div class="clearfix form-group"></div>-->
    <div class="panel panel-default">
      <div class="panel-heading">Activities</div>
      <div class="panel-body no-padding">
        <div>

          <!-- Header -->
          <div class="table-h clearfix">
            <div class="col-md-3 no-padding">Task Name</div>
            <div class="col-md-3 no-padding">Id</div>
            <div class="col-md-3 no-padding">Time</div>
            <div class="col-md-3 no-padding">Action</div>
          </div>
          <!-- Body -->
          <div class="table-b clearfix">
            <div class="col-md-3 no-padding">Task Name</div>
            <div class="col-md-3 no-padding">Id</div>
            <div class="col-md-3 no-padding">Time</div>
            <div class="col-md-3 no-padding">Action</div>
          </div><div class="table-b clearfix">
            <div class="col-md-3 no-padding">Task Name</div>
            <div class="col-md-3 no-padding">Id</div>
            <div class="col-md-3 no-padding">Time</div>
            <div class="col-md-3 no-padding">Action</div>
          </div><div class="table-b clearfix">
            <div class="col-md-3 no-padding">Task Name</div>
            <div class="col-md-3 no-padding">Id</div>
            <div class="col-md-3 no-padding">Time</div>
            <div class="col-md-3 no-padding">Action</div>
          </div><div class="table-b clearfix">
            <div class="col-md-3 no-padding">Task Name</div>
            <div class="col-md-3 no-padding">Id</div>
            <div class="col-md-3 no-padding">Time</div>
            <div class="col-md-3 no-padding">Action</div>
          </div>

        </div>

      </div>
      <div class="panel-footer"></div>
    </div>
  </div>

</div>
