<div id="dashboard" class="animated fadeInDown">

  <div id="tiles">

  </div>



  <!--<div>-->
  <!--<div class="tile col-md-3">-->
    <!--<div class="text-center">Today Summary</div>-->
    <!--<ul class="list-group clear-list m-t">-->

      <!--<li class="list-group-item fist-item">-->
        <!--<span class="pull-right">09:00 pm</span>-->
        <!--Please contact me-->
      <!--</li>-->
      <!--<li class="list-group-item">-->
        <!--<span class="pull-right">10:16 am</span>-->
        <!--Sign a contract-->
      <!--</li>-->
      <!--<li class="list-group-item">-->
        <!--<span class="pull-right">08:22 pm</span>-->
        <!--Open new shop-->
      <!--</li>-->
      <!--<li class="list-group-item">-->
        <!--<span class="pull-right">11:06 pm</span>-->
        <!--Call back to Sylvia-->
      <!--</li>-->
      <!--<li class="list-group-item">-->
        <!--<span class="pull-right">12:00 am</span>-->
        <!--Write a letter to Sandra-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->

  <!--<div class="tile col-md-3">-->
    <!--<div class="text-center">Transaction Summary</div>-->
    <!--<ul class="list-group clear-list m-t">-->

      <!--<li class="list-group-item fist-item">-->
        <!--<span class="pull-right">09:00 pm</span>-->
        <!--Please contact me-->
      <!--</li>-->
      <!--<li class="list-group-item">-->
        <!--<span class="pull-right">10:16 am</span>-->
        <!--Sign a contract-->
      <!--</li>-->
      <!--<li class="list-group-item">-->
        <!--<span class="pull-right">08:22 pm</span>-->
        <!--Open new shop-->
      <!--</li>-->
      <!--<li class="list-group-item">-->
        <!--<span class="pull-right">11:06 pm</span>-->
        <!--Call back to Sylvia-->
      <!--</li>-->
      <!--<li class="list-group-item">-->
        <!--<span class="pull-right">12:00 am</span>-->
        <!--Write a letter to Sandra-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
  <!--</div>-->



  <!-- Chart -->
  <!--<div style="height: 150px;width: 150px;">-->
    <!--<fusioncharts-->
      <!--[id]="id"-->
      <!--[width]="width"-->
      <!--[height]="height"-->
      <!--[type]="type"-->
      <!--[dataFormat]="dataFormat"-->
      <!--[dataSource]="dataSource">-->
    <!--</fusioncharts>-->
  <!--</div>-->


</div>
