
<div>
  <br>
  <div class="col-md-4 col-xs-0"></div>

  <div class="col-md-4 col-xs-12 clearfix form-group" style="padding: 40px;top: 10px;background-color: rgba(255,255,255,0.2);border-radius: 3px;">
    <div style="text-align: center" class="clearfix form-group">
      <h2 style="color: #f8fff1;font-weight: 900;">SIGN UP</h2>
    </div>

    <form [formGroup]="registrationForm" novalidate>
      <div>
            <div class="clearfix form-group" *ngIf="userRoles.length > 0">
              <label style="color: #fff;">Account Type</label>
              <select class="full-width" formControlName="userType">
                <option [value]="role.id" *ngFor="let role of userRoles">{{role.roleLabel}}</option>
              </select>
            </div>

            <div class="form-group">
              <label style="color: #fff;">E-mail address</label>
              <input class="form-control" type="text" placeholder="email address" formControlName="email">
            </div>

            <div class="form-group">
              <label style="color: #fff;">Contact Number</label>
              <input class="form-control" type="text" placeholder="contact number" formControlName="contactNumber">
            </div>

            <div class="form-group">
              <label style="color: #fff;">Password</label>
              <input class="form-control" type="password" placeholder="password" formControlName="password">
            </div>
            <div  class="clearfix" *ngIf="registrationForm.get('password').value !== null">
              <app-strength-indicator
                [type]="'PASSWORD'"
                [inputText]="registrationForm.get('password').value">
              </app-strength-indicator>
            </div>

            <div class="form-group">
              <div class="clearfix form-group">
                <label style="color: #fff;">Confirm  password</label>
                <input class="form-control" type="password" placeholder="confirm password" formControlName="confirmPassword">
              </div>
              <div class="alert alert-danger" *ngIf="(registrationForm.value.confirmPassword != null) &&
                  (registrationForm.value.password != registrationForm.value.confirmPassword)">
                   <i class="fa fa-exclamation"></i> &nbsp;&nbsp; <strong> Password Dosen`t Mactch </strong>
              </div>
            </div>

            <div class="form-group" *ngIf="registrationForm.value.userType == 'STAFF'">
              <input class="form-control" type="text" placeholder="Company Id">
            </div>

            <div class="form-group" style="text-align: center;">
              <button class="btn btn-success" type="button" (click)="createAccount()"
                      style="width: 100%;margin-top: 10px;" [disabled]="registrationForm.invalid">Register</button>
            </div>
              <div class="text-center">
                <a routerLink="/login" style="color: #6b6b6b;">Login</a>
              </div>
      </div>
    </form>

  </div>

  <div class="col-md-4 col-xs-0"></div>


</div>
