
<div class="animated fadeIn">

  <div class="clearfix form-group">
  <div class="col-md-6">
    <div class="clearfix form-group">
      <label>Device Modal</label>
      <select class="full-width">
        <option>Samsung</option>
        <option>Apple</option>
      </select>
    </div>

    <div class="clearfix form-group">
      <label>IMEI number</label>
      <input class="form-control">
    </div>

    <div class="clearfix form-group">
      <label>Device Image</label><br>
      <div>
        <div class="col-md-4 col-sm-4">
          <div style="width: 150px;height: 150px;border: 1px solid #e0e0e0;padding: 10px;" class="form-group">
            <img src="../../../../assets/images/u-prof.png" class="full-width">
          </div>
        </div>
        <div style="border-top: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;padding: 15px;margin-top: 20px;" class="clearfix col-md-8 col-sm-8" >
          <div class="col-md-6 text-center" style="border-right: 1px solid #e0e0e0; cursor: pointer">
            <h3>Browse</h3>
            <p class="p-text">Upload image from your computer</p>
          </div>
          <div class="col-md-6 text-center" style="cursor: pointer;">
            <h3>Camera</h3>
            <p class="p-text">Take a picture through the web can</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-6"></div>
  </div>

  <div>
    <button class="btn btn-suc">Save Device</button>
  </div>
</div>



