<div>
  <div class="col-md-3 clearfix form-group" style="padding: 15px 0 10px 0;height: 300px;background: #e6e6e6;">

    <div style="padding: 0;">
      <!-- Cover Image -->
      <div style="background: #099;height: 100px;width: 100%;content: url('../../../../assets/images/p1.jpg')" >
      </div>

      <!-- Profile Image -->
      <div style="background: #767; width: 100px; height: 100px;border-radius: 15px;border: 2px solid #fff;position: absolute;top: 60px;left: 10px;
      content: url('../../../../assets/images/a1.jpg')">
      </div>

      <!-- Summary -->
      <div style="right: 0;position: absolute;text-align: right;width:60%;padding: 5px;"> </div>

      <div style="min-height: 60px;border-bottom: 1px solid #cacaca;margin: 5px;"></div>
      <div class="clearfix">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center" style="border-right: 1px solid #cacaca">
          <div> Customers </div>
          <div> 45202 </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6  col-xs-6 text-center">
          <div> Agents </div>
          <div> 120 </div>
        </div>
      </div>

      <div style="min-height: 10px;border-bottom: 1px solid #cacaca;margin: 5px;"></div>
      <div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center" style="border-right: 1px solid #cacaca">
          <div> Devices </div>
          <div> 45202 </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6  col-xs-6 text-center">
          <div> Vehicles </div>
          <div> 120 </div>
        </div>
      </div>



    </div>



  </div>
  <div class="col-md-9">


    <div class="content">
      <div class="panel-group" id="permission-collapse">
        <ng-container >
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#permission-collapse" data-target="#collapseOne">Organization Basic Information</a>
              </h4>
            </div>
            <div class="panel-collapse collapse" id="collapseOne">
              <div class="clearfix form-group">

                <div class="col-md-6">
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-6"></div>

              </div>

            </div>
          </div>


          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#permission-collapse" data-target="#collapset">Organization Properties </a>
              </h4>
            </div>
            <div class="panel-collapse collapse" id="collapset">
              <div class="clearfix form-group">

                <div class="col-md-6">

                </div>
                <div class="col-md-6"></div>

              </div>

            </div>
          </div>


          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#permission-collapse" data-target="#collapse1">Staff Management</a>
              </h4>
            </div>
            <div class="panel-collapse collapse" id="collapse1">
              <div class="clearfix form-group">

                <div class="col-md-6">

                </div>
                <div class="col-md-6"></div>

              </div>

            </div>
          </div>



        </ng-container>
      </div>
    </div>
  </div>
</div>

