
<div>
  <br>
  <br>

  <div class="col-md-4"></div>
  <div class="col-md-4" style="padding: 40px;top: 10px;background-color: rgba(255,255,255,0.2);border-radius: 3px;">
    <!-- Logo and some text here -->
    <div style="text-align: center">
      <h2 style="color: #f8fff1;font-weight: 900;">WELCOME</h2>
    </div>
    <br>

    <form [formGroup]="loginForm" novalidate>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" >
            <i class="fa fa-user" style="width: 15px;"></i>
          </span>
          <input class="form-control" type="text" placeholder="user name or email address"
                 formControlName="userName" aria-describedby="sizing-addon2" (focusout)="checkOtherAccounts()">
        </div>

      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" >
            <i class="fa fa-key" style="width: 15px;"></i>
          </span>
          <input class="form-control" type="password" placeholder="password" formControlName="password">
        </div>
      </div>

      <div class="form-group" *ngIf="userRoles.length > 0">
        <select class="form-control" formControlName="userType">
          <option [value]="role.id" *ngFor="let role of userRoles">{{role.roleLabel}}</option>
        </select>
      </div>

      <!-- Remember me-->
      <div style="text-align: center" class="form-group">
        <div style="display: inline"><input type="checkbox"></div>
        <div style="display: inline; color: #ffffff;">&nbsp; Remember Me !</div>
      </div>

      <div class="form-group" style="text-align: center">
        <button class="btn btn-suc" type="button" (click)="login()" style="width: 100%">Login</button>
      </div>
    </form>

    <!-- Forgot password -->
    <legend></legend>
    <div class="form-group clearfix">
      <div class="col-md-6 text-center">
        <a routerLink="/forgot-password" style="color: #ffffff;">Forgot password ?</a>
      </div>
      <div class="col-md-6 text-center">
        <a routerLink="/sign-up" style="color: #ffffff;">Not an account ?</a>
      </div>
    </div>

    <legend></legend>

    <!--<div>-->
      <!--<div class="col-md-6 col-sm-12 form-group" style="padding: 0">-->
        <!--<button class="btn btn-danger " style="width: 100%"> Login with Google </button>-->
      <!--</div>-->
      <!--<div class="col-md-6 col-sm-12 form-group" style="padding: 0">-->
        <!--<button class="btn btn-primary" style="width: 100%"> Login with Facebook </button>-->
      <!--</div>-->

    <!--</div>-->
  </div>
  <div class="col-md-4">

  </div>

</div>
