<!--<div class="wrapper">-->
  <!--<app-side-nav></app-side-nav>-->

  <!--<div id="content" style="padding: 0 0 0 0 !important;">-->
    <!--<nav class="navbar navbar-default" style="background: #f3f3f4;border-bottom: 1px solid #eeeeee;">-->
      <!--<div class="container-fluid">-->

        <!--<div class="navbar-header" style="width: 100%">-->

          <!--<div class="col-md-1">-->
            <!--<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" (click)="toggleNav()"-->
                    <!--style="background: #32a580;border-color: #32a580;">-->
              <!--<i class="fa fa-bars"></i>-->
            <!--</button>-->
          <!--</div>-->

          <!--<div class="col-md-11" style="text-align: right;color: #828282;font-size: 12px;">-->
                <!--<div>-->
                  <!--<ul style="list-style-type: none">-->
                    <!--<li style="float: right;"><i class="fa fa-envelope"></i></li>-->
                    <!--<li style="float: right;"><i class="fa fa-bell"></i></li>-->
                  <!--</ul>-->
                <!--</div>-->

              <!--<div style="display: inline">-->
                <!--{{ 'HOME.SELECT' | translate }}-->
              <!--</div>-->
              <!--<div style="display: inline">-->
                <!--<select  #langSelect (change)="translate.use(langSelect.value)" >-->
                  <!--<option *ngFor="let lang of languages" [value]="lang.value" [selected]="lang === translate.currentLang">{{ lang.name }}</option>-->
                <!--</select>-->
              <!--</div>-->

          <!--</div>-->

        <!--</div>-->
      <!--</div>-->
    <!--</nav>-->
    <!--<div style="padding: 5px">-->
      <!--<app-top-nav></app-top-nav>-->
      <!--<router-outlet></router-outlet>-->
    <!--</div>-->
  <!--</div>-->


<!--</div>-->

<div id="wrapper">
  <app-side-nav></app-side-nav>
  <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
      <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " (click)="toggleNav()"><i class="fa fa-bars"></i> </a>
          <!--<form role="search" class="navbar-form-custom" action="search_results.html">-->
            <!--<div class="form-group">-->
              <!--&lt;!&ndash;<input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">&ndash;&gt;-->
            <!--</div>-->
          <!--</form>-->
          <h2 style="position: absolute;left: 80px;top: 25px;">{{viewTitle}}</h2>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <li>
            <span class="m-r-sm text-muted welcome-message">Logged in As : &nbsp;{{loggedInUser}}</span>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
              <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
            </a>
            <ul class="dropdown-menu dropdown-messages">
              <li>
                <div class="dropdown-messages-box">
                  <a href="profile.html" class="pull-left">
                    <!--<img alt="image" class="img-circle" src="img/a7.jpg">-->
                  </a>
                  <div>
                    <small class="pull-right">46h ago</small>
                    <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                    <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="dropdown-messages-box">
                  <a href="profile.html" class="pull-left">
                    <!--<img alt="image" class="img-circle" src="img/a4.jpg">-->
                  </a>
                  <div>
                    <small class="pull-right text-navy">5h ago</small>
                    <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                    <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="dropdown-messages-box">
                  <a href="profile.html" class="pull-left">
                    <!--<img alt="image" class="img-circle" src="img/profile.jpg">-->
                  </a>
                  <div>
                    <small class="pull-right">23h ago</small>
                    <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                    <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="text-center link-block">
                  <a href="mailbox.html">
                    <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                  </a>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
              <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
              <li>
                <a href="mailbox.html">
                  <div>
                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                    <span class="pull-right text-muted small">4 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="profile.html">
                  <div>
                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                    <span class="pull-right text-muted small">12 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="grid_options.html">
                  <div>
                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                    <span class="pull-right text-muted small">4 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <div class="text-center link-block">
                  <a href="notifications.html">
                    <strong>See All Alerts</strong>
                    <i class="fa fa-angle-right"></i>
                  </a>
                </div>
              </li>
            </ul>
          </li>


          <li>
            <a href="login.html" routerLink="/login">
              <i class="fa fa-sign-out"></i> Log out
            </a>
          </li>
          <li>
            <a class="right-sidebar-toggle">
              <i class="fa fa-tasks"></i>
            </a>
          </li>
        </ul>

      </nav>
    </div>
    <div class="wrapper wrapper-content">


      <router-outlet></router-outlet>


    </div>
    <div class="footer">
      <div class="pull-right">
        10GB of <strong>250GB</strong> Free.
      </div>
      <div>
        <strong>Copyright</strong> Example Company &copy; 2014-2017
      </div>
    </div>
  </div>
  <div id="right-sidebar">




  </div>
</div>
